<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
      <div class="sidebar">
        <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5648299756902319"
          crossorigin="anonymous"></script>
        <!-- Responsive -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5648299756902319"
          data-ad-slot="5520282421" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>

  {% include footer.html %}

  <div class='cookieConsentContainer' id='cookieConsentContainer'>
    <div class='cookieDesc'>
      <p>This website uses cookies to ensure you get the best experience. For more details, see the <a href='/privacy/'
          target='_blank'>privacy policy</a>.</p>
    </div>
    <div class='cookieButton'><a onClick='purecookieDismiss();'>ACCEPT</a></div>
  </div>

</body>

</html>