<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  <div class='cookieConsentContainer' id='cookieConsentContainer'>
    <div class='cookieDesc'>
      <p>This website uses cookies to ensure you get the best experience. For more details, see the <a href='/privacy/'
          target='_blank'>privacy policy</a>.</p>
    </div>
    <div class='cookieButton'><a onClick='purecookieDismiss();'>ACCEPT</a></div>
  </div>

</body>

</html>
